<link rel="stylesheet" href="/css/index.css">
<header>
    <ul>
        <li><a href="./students">Strona główna</a></li>
        <li><a href="./students/new">Dodaj Studenta</a></li>
    </ul>
</header>