@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

html {
    background-color: #292929;
    font-family: 'Quicksand',
        sans-serif;
}

header {
    min-width: 200px;
}

main {
    min-width: 1500px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    color: #ffc815;
}

p {
    color: #ffc815;
    font-size: 12px;
}

table {
    border-spacing: 0;
    margin: 0 auto 50px auto;
}

td {
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

th {
    padding: 0 10px;
    text-align: center;
    background-color: black;
    color: #ffc815;
}

tr {
    text-align: center;
    max-width: 300px;
    height: 50px;
    padding: 0 10px;
    background-color: #292929;
    color: #ffc815;
}

tr:nth-child(2n+1) {
    background-color: #585858;
}

button,
a {
    width: 100px;
    height: 30px;
    margin: 15px auto 0 auto;
    background-color: #ffc815;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    box-shadow: #ffc815 0px 1px 10px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Lucida Sans';
}

button:hover,
a:hover {
    background-color: #ffc815d5;
}

a {
    padding: 10px 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: 'Lucida Sans';
}

input {
    border-radius: 20px;
}